@use '../../variables';

$links-column-size: (variables.$tab-content-width - variables.$default-spacing) * 0.5;

.links {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__column {
    position: relative;
    width: $links-column-size;
    height: $links-column-size;
  }
}
