@use '../../../popup/variables';

.torrents {
  display: none;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  svg {
    fill: variables.$linkomanija-link-color;

    .sl--theme-dark & {
      fill: variables.$linkomanija-dark-link-color;
    }
  }

  * {
    box-sizing: border-box;
  }

  &__card {
    display: flex;
    padding: variables.$default-spacing;
    width: 25%;

    &:hover {
      .torrent__image__overlay {
        visibility: visible;
        opacity: 1;

        > div {
          transform: scale(1);

          a, span {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  .torrent {
    background-color: variables.$linkomanija-bg-color;
    border: 1px solid variables.$linkomanija-border-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;

    .sl--theme-dark & {
      background-color: variables.$linkomanija-dark-cell-bg-color;
      border-color: variables.$linkomanija-dark-border-color;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px variables.$linkomanija-border-color solid;
      background-image: url('https://static.linkomanija.net/images/shadow.gif');
      background-repeat: repeat-x;
      background-color: variables.$linkomanija-cell-bg-color;
      padding: variables.$default-spacing;

      .sl--theme-dark & {
        background-image: none;
        background-color: variables.$linkomanija-dark-cell-bg-color;
        border-color: variables.$linkomanija-dark-border-color;
      }

      &__category {
        margin-right: variables.$default-spacing;

        img {
          display: inline-block;
          width: 41px;
          height: auto;
        }
      }

      &__title {
        display: block;
        width: 100%;
        color: variables.$linkomanija-link-color !important;
        font-weight: normal !important;

        .sl--theme-dark & {
          color: variables.$linkomanija-dark-link-color !important;
        }
      }
    }

    &__image {
      flex: 1;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: variables.$theme-black;
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        display: block;
        padding-top: 66.6%; // 16:9 aspect ratio
      }

      &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        visibility: hidden;
        transition: variables.$default-transition;

        > div {
          width: 50%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: variables.$default-transition;
          transform: scale(0);

          > a, span {
            background-color: variables.$linkomanija-link-color;
            height: 48px;
            width: 48px;
            border-radius: 360px;
            transition: variables.$default-transition;
            transform: rotate(-360deg);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .7;
            cursor: pointer;

            .sl--theme-dark & {
              background-color: variables.$linkomanija-dark-cell-bg-color;
            }

            &.torrent__favourite {
              &.remove {
                background-color: variables.$theme-yellow;
              }
            }

            svg {
              display: inline-block;
              height: 32px;
              width: 32px;
              fill: variables.$theme-white;
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    &__footer {
      border-top: 1px variables.$linkomanija-border-color solid;
      background-image: url('https://static.linkomanija.net/images/shadow.gif');
      background-repeat: repeat-x;
      background-color: variables.$linkomanija-cell-bg-color;
      padding: variables.$default-spacing;
      display: flex;

      .sl--theme-dark & {
        border-color: variables.$linkomanija-dark-border-color;
        background-image: none;
        background-color: variables.$linkomanija-dark-cell-bg-color;
      }

      .footer {
        &__size {
          flex: 1;
          text-align: left;
        }
        &__stats {

        }
      }

      svg {
        height: variables.$large-spacing;
        width: variables.$large-spacing;
        display: inline-block;
        vertical-align: bottom;
      }

      .sl-seeders {
        svg {
          fill: variables.$theme-green;
        }
      }

      .sl-leechers {
        svg {
          fill: variables.$theme-red;
        }
      }
    }

    &__subtitle {
      position: absolute;
      bottom: variables.$small-spacing;
      right: 0;
      left: 0;
      line-height: variables.$large-spacing;
      background-color: rgba(variables.$theme-black, .5);
      font-size: 9px;
      text-align: center;
      color: variables.$theme-white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__comments {
      color: variables.$theme-black;
      font-weight: bold;
      white-space: nowrap;

      .sl--theme-dark & {
        color: variables.$theme-yellow;
      }

      svg {
        vertical-align: middle;
        display: inline-block;
        height: variables.$large-spacing;
        width: variables.$large-spacing;
      }
    }
  }
}