@import '../../../popup/variables';

.view-modes {
  margin-top: $large-spacing;
  text-align: center;

  &__option {
    display: inline-block;
    cursor: pointer;
    padding: $default-spacing;
    border: 1px $linkomanija-border-color solid;
    background-color: $linkomanija-cell-bg-color;
    outline: none;

    .sl--theme-dark & {
      border-color: $linkomanija-dark-border-color;
      background-color: $linkomanija-dark-bg-color;
    }

    &.active {
      background-color: $linkomanija-link-color;
      svg {
        fill: $linkomanija-cell-bg-color;
      }

      .sl--theme-dark & {
        background-color: $linkomanija-dark-cell-bg-color;
        svg {
          fill: $linkomanija-dark-link-color;
        }
      }
    }

    svg {
      display: inline-block;
      height: $large-spacing;
      width: $large-spacing;
      fill: $linkomanija-link-color;

      .sl--theme-dark & {
        fill: $linkomanija-dark-link-color;
      }
    }
  }
}

.sl-view-mode--list {
  #{$torrents-table-selector} {
    display: table;
  }

  .torrents {
    display: none;
  }
}

.sl-view-mode--grid {
  .torrents {
    display: flex;
  }

  #{$torrents-table-selector} {
    display: none;
  }
}
