@use "sass:color";
@use '../../../variables';

// $tb = Tab Bar
$tb-default-spacing: variables.$default-spacing * 0.5;

.tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  margin: 0 variables.$default-spacing;
  z-index: 999;

  &__tab {
    background-color: var(--sl-tab);
    display: inline-block;
    color: var(--sl-text-muted);
    margin-right: $tb-default-spacing;
    padding: variables.$default-spacing + 2px variables.$large-spacing;
    font-size: 13px;
    border-radius: $tb-default-spacing $tb-default-spacing 0 0;
    cursor: pointer;

    &:hover {
      color: var(--sl-text);
    }

    &.tab--active {
      color: variables.$theme-red;
      font-weight: bold;
      background-color: var(--sl-surface);
      cursor: default;
    }
  }

  &-content {
    background-color: var(--sl-surface);
    padding: variables.$large-spacing;
  }

  &__version {
    position: absolute;
    right: 0;
    bottom: variables.$small-spacing;
    color: var(--sl-version);
    font-size: 9px;
  }
}