@use '../../../popup/variables';
@use 'tippy-js-linkomanija-theme';

$max-popup-width: 350px;
$max-popup-height: 170px;

// Column button
.sm--preview-torrent {
  text-align: center;

  button {
    cursor: crosshair;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
  }

  svg {
    fill: variables.$linkomanija-link-color;
    display: inline-block;
    height: variables.$large-spacing;
    width: variables.$large-spacing;

    .sl--theme-dark & {
      fill: variables.$linkomanija-dark-link-color;
    }
  }
}

// Popup
.torrent-preview {
  $header: header;
  font-size: 11px;
  font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;

  &__#{$header} {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px variables.$linkomanija-border-color solid;
    background-image: url('https://static.linkomanija.net/images/shadow.gif');
    background-repeat: repeat-x;
    background-color: variables.$linkomanija-cell-bg-color;
    padding: variables.$default-spacing;

    .sl--theme-dark & {
      background-image: none;
      background-color: variables.$linkomanija-dark-cell-bg-color;
      border-color: variables.$linkomanija-dark-border-color;
    }

    .#{$header} {
      &__category {
        margin-right: variables.$default-spacing;

        img {
          display: inline-block;
          width: 21px;
          height: auto;
        }
      }

      &__title {
        display: block;
        width: 100%;
        color: variables.$linkomanija-link-color !important;
        font-weight: normal !important;
        text-decoration: none;

        .sl--theme-dark & {
          color: variables.$linkomanija-dark-link-color !important;
        }
      }

      &__actions {

      }
    }
  }

  &__content {
    width: auto;
    max-width: $max-popup-width;
    height: $max-popup-height;
    color: variables.$theme-gray;
    font-size: 12px;
    background-color: variables.$linkomanija-bg-color;
    overflow-x: hidden;
    overflow-y: auto;

    img {
      max-width: $max-popup-width;
      max-height: $max-popup-height;
    }

    b {
      color: variables.$theme-blue;
    }

    font {
      color: variables.$theme-red;
    }

    a {
      color: variables.$linkomanija-link-color;
      text-decoration: none;
    }
  }
}
