@use '../../../variables';

.language-picker {
  position: absolute;
  top: variables.$default-spacing;
  left: variables.$default-spacing;
  z-index: 999;

  &__flag {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    margin-right: variables.$default-spacing;
    padding: 0;
    border: none;
    opacity: .8;
    transition: variables.$default-transition;

    &:hover {
      opacity: 1;
    }

    svg {
      display: inline-block;
      height: variables.$large-spacing * 2;
      width: variables.$large-spacing * 2;
    }
  }
}
