@import '../../../variables';

.torrent-group {
  background-color: $theme-silver-white;
  padding: $default-spacing;

  &:not(:last-child) {
    margin-bottom: $default-spacing;
  }

  &__title {
    font-weight: bold;
    color: $theme-blue;
  }

  &__torrents {
    overflow: auto;
    margin-top: $default-spacing;
    max-height: 90px;
  }
}