@import '../../../variables';

.torrent-group {
  background-color: $theme-silver-white;
  padding: $default-spacing;

  &:not(:last-child) {
    margin-bottom: $default-spacing;
  }

  &__heading {
    display: flex;
    justify-content: space-between;

    .heading__title {
      font-weight: bold;
      color: $theme-blue;
    }

    .heading__sub-title {
      text-align: right;
      color: $theme-gray;
      font-size: 10px;

      strong {
        color: $theme-red;
      }
    }
  }

  &__torrents {
    overflow: auto;
    margin-top: $default-spacing;
    max-height: 90px;
  }
}