@use '../../../variables';

.torrent-group {
  background-color: var(--sl-card);
  padding: variables.$default-spacing;

  &:not(:last-child) {
    margin-bottom: variables.$default-spacing;
  }

  &__heading {
    display: flex;
    justify-content: space-between;

    .heading__title {
      font-weight: bold;
      color: var(--sl-accent);
    }

    .heading__sub-title {
      text-align: right;
      color: var(--sl-text);
      font-size: 10px;

      strong {
        color: variables.$theme-red;
      }
    }
  }

  &__torrents {
    overflow: auto;
    margin-top: variables.$default-spacing;
    max-height: 90px;
  }
}