@import '../../../popup/variables';

$back-to-top-button-size: $large-spacing * 2;

.back-to-top {
  position: fixed;
  bottom: $large-spacing;
  right: $large-spacing;
  display: block;
  text-align: center;
  background-color: $theme-white;
  border-radius: 360px;
  outline: none;
  transition: $default-transition;
  z-index: 9999;
  border: 1px $linkomanija-link-color solid;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;

  svg {
    display: inline-block;
    fill: $linkomanija-link-color;
    height: $back-to-top-button-size;
    width: $back-to-top-button-size;
    margin: $default-spacing;
  }

  &:hover {
    opacity: 1;
  }

  &--visible {
    visibility: visible;
    opacity: .5;
  }

  .sl--theme-dark & {
    border-color: $linkomanija-dark-border-color;
    background-color: $linkomanija-dark-bg-color;

    svg {
      fill: $linkomanija-dark-link-color;
    }
  }
}