@use '../../../popup/variables';

$back-to-top-button-size: variables.$large-spacing * 2;

.back-to-top {
  position: fixed;
  bottom: variables.$large-spacing;
  right: variables.$large-spacing;
  display: block;
  text-align: center;
  background-color: variables.$theme-white;
  border-radius: 360px;
  outline: none;
  transition: variables.$default-transition;
  z-index: 9999;
  border: 1px variables.$linkomanija-link-color solid;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;

  svg {
    display: inline-block;
    fill: variables.$linkomanija-link-color;
    height: $back-to-top-button-size;
    width: $back-to-top-button-size;
    margin: variables.$default-spacing;
  }

  &:hover {
    opacity: 1;
  }

  &--visible {
    visibility: visible;
    opacity: .5;
  }

  .sl--theme-dark & {
    border-color: variables.$linkomanija-dark-border-color;
    background-color: variables.$linkomanija-dark-bg-color;

    svg {
      fill: variables.$linkomanija-dark-link-color;
    }
  }
}