@use 'popup/variables';

/*
* Loader spinning
*/
.sl-loading {
  margin: (variables.$large-spacing * 2) 0;
  display: block;
  flex: 1;
  text-align: center;
}
.sl-spin-loader {
  fill: variables.$linkomanija-link-color;
  display: inline-block;
  height: variables.$large-spacing * 2;
  width: variables.$large-spacing * 2;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .sl--theme-dark & {
    fill: variables.$linkomanija-dark-link-color;
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}