@import '../../../../variables';

$torrent-item-height: 30px;

.torrent {
  display: flex;
  align-items: center;
  width: 100%;
  height: $torrent-item-height;
  overflow: hidden;

  &__category {
    height: $torrent-item-height;
    display: inline-block;

    img {
      max-height: $torrent-item-height;
    }
  }

  &__title {
    display: block;
    flex: 1 auto;
    width: 100%;
    font-size: 12px;
    color: $theme-gray;
    padding-left: $default-spacing;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: $default-transition;
  }

  &:hover {
    background-color: darken(#F1F1F1, 5%);

    .torrent__title {
      color: $theme-black;
    }
  }
}